.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-menu {
  display: flex;
  gap: 616px;
  margin-top: -450px;
  padding: 11px;

}

.header-menu-components {
  display: flex;
  gap: 26px;
  
}

.header-menu-logo-png {
  width: 150px;
  margin-top: -18px;

}

.banner-carousel {
  position: relative;
  top: -437px;
}

.carousel {
  margin-top: -459px;
}

.carousel-image {
  width: -webkit-fill-available;
  padding: 10px;
}

.product-tiles-parent{
  display: flex;
}

.product-tiles {
  position: relative;
  left: 66px;
}